/* raleway-regular - latin_cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/raleway-v18-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/raleway-v18-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v18-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v18-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v18-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v18-latin_cyrillic-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-700 - latin_cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/raleway-v18-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/raleway-v18-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v18-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v18-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v18-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v18-latin_cyrillic-700.svg#Raleway') format('svg'); /* Legacy iOS */
}

:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --primary-black-color: #000000;
  --primary-white-color: #FFFFFF; 
  --secondary-white-color: rgba(255,255,255,0.6);
  --primary-btn-bg-color: #188CE8;
  --secondary-btn-bg-color: #F5F4FA;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.title {
  font-weight: 700;
  color: var(--title-text-color);
}

/* лого */

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-black-color);
}

.logo-accent {
  color: var(--accent-color);
}

/* навигация  */

.site-nav .item {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

/* линки контактов */

.contact-link .item {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: currentColor;
}

.site-nav .item:hover,
.site-nav .item:focus,
.contact-link .item:hover,
.contact-link .item:focus {
  color: var(--accent-color);
}

.site-nav .open-page {
  color: var(--accent-color);
}

/* герой */

.hero-title{
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.hero .btn {
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--primary-btn-bg-color);
}

/* преимущества */

.features-title {
  line-height: 1.14;
  text-transform: uppercase;
}

.features-text {
  line-height: 1.71;
}

/* услуги */

.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* команда */

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* футер контакты */

.address-text {
  font-style: normal;
  line-height: 1.71;
  color: var(--primary-white-color);
}

.address .logo {
  color: var(--primary-white-color);
}

.address .item {
  line-height: 1.71;
  color: var(--secondary-white-color);
}

.address .item:hover,
.address .item:focus {
  color: var(--accent-color);
}
/* временный фон для видимости белых шрифтов */
.draft-bg {
  background-color: #2F303A; 
}

/* портфолио работы */

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.btn.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.btn.secondary {
  color: var(--title-text-color);
  background-color: var(--secondary-btn-bg-color);
}

.btn.secondary:hover,
.btn.secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.work-title {
  font-size: 18px;
  line-height: 2.0;
  letter-spacing: 0.06em;
}

.work-subtitle {
font-size: 16px;
line-height: 1.87;
color: var(--title-text-color);
}

